.content-wrapper {
  flex: 1; 
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.page-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  background-image: url('./../assets/login.jpg') !important;
  background-repeat: no-repeat;
  background-position: center; /* Centers the image */
  background-size: auto; /* Maintains original size */
  scrollbar-color: transparent transparent; /* Hides scrollbar */
  overflow: hidden;
}